:root {
    user-select: none;
    box-sizing: border-box;
    --clr-dark: #1D2433;
    --clr-darker: #171C28;
    --clr-dark-content: #444d61;
    --clr-light-content: #838892;
    --txt-clr: #adbcdd;
    font-size: calc(1vw + 0.7em);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    color: var(--txt-clr);
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--clr-dark);
    cursor: pointer;
}

*,
::before,
::after {
    box-sizing: inherit;
}

*:not(.player, .platform) {
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* background-color: blue; */
}

.brick-container {
    /* height: 100px; */
    position: absolute;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 1vw;
    top: calc(1% + 3em);
    padding: 0;
}

p {
    text-shadow: 0 0 2px rgba(146, 137, 137, 0.452), 0 0 5px white;
}

.score {
    position: absolute;
    top: 1%;
    right: 5%;
}

.level {
    position: absolute;
    top: 1%;
    left: 5%;
}

.player {
    position: absolute;
    bottom: 5%;
    background:
        linear-gradient(0deg, pink, red 80%);
        /* radial-gradient(circle at center, red 0, blue, green 100%); */
    width: 150px;
    height: 20px;
    border-radius: 10px;
}

.platform {
    position: absolute;
    bottom: 5%;
    z-index: 1;
    /* background-color: red; */
    width: 150px;
    height: 20px;
}

.ball {
    /* content: ''; */
    /* display: block; */
    position: absolute;
    bottom: 115%;
    left: 20%;
    background: skyblue;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow:
        0 0 10px skyblue,
        0 0 20px skyblue;
}

.shadow {
    position: absolute;
    bottom: 90%;
    left: 20%;
    background: black;
    width: 20px;
    height: 5px;
    border-radius: 50%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

.brick {
    /* position: absolute; */
    width: 30px;
    height: 20px;
    background: greenyellow;
    margin: 2px;
    border-radius: 2px;
    box-shadow:
        0 0 10px skyblue,
        0 0 20px skyblue;
}

.shake {
    animation: shake 1s ease-in-out infinite alternate;
}

@keyframes shake {
    from {
        left: -10%;
    }

    to {
        left: 90%;
    }
}